@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #121212;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* Prevent scrolling for the map view */
}
